body {
    font-family: Arial;
    text-align: center;
    background: #f2f4f8;
}

.container {
    background: white;
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

input {
    padding: 10px;
    width: 80%;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

li {
    list-style: none;
    margin: 10px;
}